body {
	font-family: helvetica, arial;
}

.no-select {
	cursor: default;
}

.color-red {
	color: red;
}

.color-green {
	color: green;
}

.color-blue {
	color: blue;
}

.color-yellow {
	color: #F2EB0F;
}

.action.not-null {
	cursor: pointer;
}

/**
 * No Game
 */

.no-game #header {
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	text-align: center;
	font-size: 80px;
}

.no-game #actions {
	width: 500px;
	height: 100px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 10px;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: white;
	box-shadow: 0px 0px 20px black;
	-moz-box-shadow: 0px 0px 20px black;
}

.no-game #actions button {
	font-size: 32px;
	width: 100%;
}

.no-game #actions #join-game {
	margin-top: 10px;
}

#rules {
	position: absolute;
	width: 500px;
	bottom: 30px;
	height: 20%;
	overflow: scroll;
	margin: auto;
	left: 0;
	right: 0;
}

/**
 * Game
 */

/**
 * Game - Invite
 */

.game #invite {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 10;
}

/**
 * Game - Front
 */

.game #front {
	position: absolute;
	left: 0;
	top: 20px;
	width: 50%;
	height: 75px;
}

.game #front ul {
	margin: 0px;
	padding: 0px;
	width: 3000px;
	position: absolute;
	right: 0;
	list-style: none;
	height: 75px;
}

.game #front ul li {
	float: right;
	margin: 0px 0px 0px 40px;
	padding: 0px;
	font-size: 60px;
	height: 75px;
	line-height: 75px;
}

.game #front_gradient {
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.01) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.01)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#03ffffff',GradientType=1 );
	background: linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%);
	width: 50%;
	height: 75px;
	position: absolute;
	top: 20px;
	left: 0px;
}

/**
 * Game - Players
 */

.game #players {
	position: absolute;
	right: 20px;
	top: 30px;
	z-index: 10;
}

.game #players ul {
	list-style: none;
}

.game #players ul li.current-player {
	font-style: italic;
}

/**
 * Game - Cards
 */

.game #cards {
	position: absolute;
	left: 20px;
	top: 150px;
}

.game #cards ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.game #cards ul li {
	float: left;
	margin: 0px 30px 0px 0px;
	padding: 0px;
	font-size: 30px;
	height: 50px;
	line-height: 50px;
}

.game #cards ul li .wild:hover {
	font-size: 40px;
}

/**
 * Game - Actions
 */

.game #actions {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 10;
}

.game #actions #create-game, .game #actions #join-game {
	cursor: pointer;
}

/**
 * Game - Error
 */

.game #error {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 250px;
	height: 70px;
	border: solid 2px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 20px black;
	-moz-box-shadow: 0px 1px 20px black;
	background: #AEB4C3;
	padding: 10px;
	display: none;
	opacity: 0;
	z-index: 30;
}

.game #error #message {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 30px;
	font-size: 18px;
	display: block;
	text-align: center;
}

.game #error button {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	width: 248px;
}

.game #error_overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	display: none;
	background-color: black;
	z-index: 20;
}

.game #loading {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80px;
	height: 80px;
}

/**
 * Misc
 */

#bugs {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	width: 200px;
	height: 20px;
}

